body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

.conta {
  width: 100%;
  height: 100%;
  position: relative;
}

.bgn {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.6;
  pointer-events: none;
}

li,
a,
button {
  position: relative;
  font-family: "audiowide";
  font-weight: 400;
  font-size: 21px;
  color: white;
  text-decoration: none;
}

header {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.logotext {
  display: flex;
}

.nf {
  position: relative;
  width: auto;
  margin-top: 7px;
}

.nf h1 {
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "audiowide";
}

.logo {
  width: 100px;
  height: 60px;
  cursor: pointer;
  padding-left: 10px;
}

.nav_links {
  position: relative;
  display: flex;
  justify-content: space-around;
  list-style: none;
  transition: transform 0.4s;
}

.nav_links li {
  position: relative;
  margin-top: 15px;
  display: inline-block;
  padding: 5px 50px;
  transition: transform 0.4s;
}

.nav_links li a {
  transition: color 0.3s;
  transition: transform 0.4s;
}

.nav_links li a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: rgb(255, 100, 100);
  text-decoration: none;
}

li:nth-child(4) {
  /*text-decoration: underline rgb(255, 100, 100) 3px;*/
  border-bottom: 3px rgb(255, 100, 100) solid;
}

.about-section {
  margin: 100px;
  position: relative;
  background: url() no-repeat left;
  background-size: 55%;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  padding: 100px 0;
}

.inner-container {
  box-shadow: 10px 10px 10px 10px rgb(150, 150, 150);
  margin: auto;
  width: 45%;
  float: right;
  background-color: rgba(255, 255, 255, 01);
  padding: 130px;
  transition: transform 1s;
}

.inner-container h1 {
  font-family: "audiowide";
  color: rgba(255, 100, 100, 1);
  margin-bottom: 3px;
  font-size: 35px;
  font-weight: 900;
}

.text {
  font-family: "Roboto Mono";
  font-size: 15px;
  color: black;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 20px;
  font-family: "Roboto mono";
  color: rgba(255, 100, 100, 1);
}

.inner-container:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

@media screen and (max-width: 1100px) {
  .about-section {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-top: 100px;
  }

  .inner-container {
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 0px;
    width: 90%;
  }

  .head {
    display: flex;
    flex-direction: column;
  }
  .nav {
    flex: auto;
    flex-direction: column;
  }
  .nav_links li {
    position: relative;
    padding: 15px;
  }
  .li,
  a {
    font-family: "audiowide";
    font-weight: 400;
    font-size: 12px;
    color: white;
    text-decoration: none;
  }

  .text {
    font-size: 12px;
    width: 90%;
    margin-left: 10px;
  }
}

::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 100, 100, 1);
}

body::-webkit-scrollbar-thumb:hover {
  background: gray;
}
