body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

.conta {
  width: 100%;
  height: 100%;
  position: relative;
}

.bgn {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.6;
  pointer-events: none;
}

li,
a,
button {
  position: relative;
  font-family: "audiowide";
  font-weight: 400;
  font-size: 21px;
  color: white;
  text-decoration: none;
}

header {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.logotext {
  display: flex;
}

.nf {
  position: relative;
  width: auto;
  margin-top: 7px;
}

.nf h1 {
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "audiowide";
}

.logo {
  width: 100px;
  height: 60px;
  cursor: pointer;
  padding-left: 10px;
}

.nav_links {
  position: relative;
  display: flex;
  justify-content: space-around;
  list-style: none;
  transition: transform 0.4s;
}

.nav_links li {
  position: relative;
  margin-top: 15px;
  display: inline-block;
  padding: 5px 50px;
  transition: transform 0.4s;
}

.nav_links li a {
  transition: color 0.3s;
  transition: transform 0.4s;
}

.nav_links li a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: rgb(255, 100, 100);
  text-decoration: none;
}

li:nth-child(4) {
  /*text-decoration: underline rgb(255, 100, 100) 3px;*/
  border-bottom: 3px rgb(255, 100, 100) solid;
}

.about-section {
  margin: 100px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.inner-container {
  box-shadow: 10px 10px 10px 10px rgb(150, 150, 150);
  width: 60%;
  float: right;
  background-color: rgba(255, 255, 255, 01);
  padding: 130px;
  transition: transform 1s;
  position: relative;
  position: right;
}

.devimg {
  width: 40%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.devimg img {
  height: 40%;
  width: 40%;
  border: 2px black solid;
  border-radius: 10%;
}

.inner-container h1 {
  font-family: "audiowide";
  color: rgba(255, 100, 100, 1);
  margin-bottom: 3px;
  font-size: 35px;
  font-weight: 900;
}

.text {
  font-family: "Roboto Mono";
  font-size: 15px;
  color: black;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 20px;
  font-family: "Roboto mono";
  color: rgba(255, 100, 100, 1);
}

.inner-container:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}

@media screen and (max-width: 1100px) {
  .about-section {
    align-items: center;
    justify-content: center;
    width: 100%;
    display: flex;
    margin: 0px;
    padding: 0px;
    margin-top: 100px;
  }

  .inner-container {
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 0px;
    width: 90%;
  }

  .head {
    display: flex;
    flex-direction: column;
  }
  .nav {
    flex: auto;
    flex-direction: column;
  }
  .nav_links li {
    position: relative;
    padding: 15px;
  }
  .li,
  a {
    font-family: "audiowide";
    font-weight: 400;
    font-size: 12px;
    color: white;
    text-decoration: none;
  }

  .text {
    font-size: 12px;
    width: 90%;
    margin-left: 10px;
  }

  p {
    font-size: 70%;
  }
  .nav_links {
    padding: 0px;
  }
  .introtext {
    width: 95%;
    margin-top: 50px;
  }
  .bpartsimg1 {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
  }

  .bpartsimg2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }
  .exhead h1 {
    font-size: 50px;
  }

  .head {
    display: flex;
    flex-direction: column;
  }
  .nav {
    flex: auto;
    flex-direction: column;
  }
  .nav_links li {
    position: relative;
    padding: 10px;
  }
  .li,
  a {
    font-family: "audiowide";
    font-weight: 400;
    font-size: 15px;
    color: white;
    text-decoration: none;
  }
  .fab {
    font-size: 10px;
  }

  .logolinks {
    height: 25px;
    width: 25px;
  }

  .add p {
    font-size: 10px;
  }

  .logos {
    flex-direction: column;
  }

  .redtext {
    font-size: 13px;
  }

  .bggg {
    top: 0;
    left: 0;
    width: auto;
    height: auto;
  }
  .textaboveimg {
    margin-top: 50px;
  }

  .exhead h1 {
    margin-bottom: 100px;
    font-size: 35px;
  }

  .slide {
    margin-top: 50px;
  }
  .slide h1 {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .card-swiper-buttons > button {
    height: 50px;
    width: 50px;
  }
}

.footer {
  width: 100%;
  position: relative;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos {
  width: 100%;
  position: relative;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  width: 97%;
  position: relative;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid rgba(255, 255, 255, 0.3) 1px;
}

.add {
  color: white;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoimgs {
  display: flex;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logolinks {
  border: 1px solid white;
  margin: 10px;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  transition: transform 0.25s;
}

.fab {
  color: white;
  font-size: 20px;
  margin: 10px;
}

.fab:hover {
  color: rgb(255, 100, 100);
  text-decoration: none;
}

.fas {
  color: rgb(255, 100, 100);
}

.logolinks:hover {
  text-decoration: none;
  border-color: rgb(255, 100, 100);
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  box-shadow: rgba(255, 100, 100, 0.35) 0px 5px 15px;
  color: rgb(255, 100, 100);
}

::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 100, 100, 1);
}

body::-webkit-scrollbar-thumb:hover {
  background: gray;
}
