body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cont {
  width: auto;
  height: auto;
  position: relative;
}

.bgn {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.5;
  pointer-events: none;
}

button,
li {
  position: relative;
  font-family: "audiowide";
  font-weight: 400;
  font-size: 21px;
  color: white;
  text-decoration: none;
}

header {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.allbuts {
  width: 50%;
  justify-content: space-between;
}

.allbuts a {
  text-decoration: none;
  color: white;
}

.logotext {
  display: flex;
}

.nf {
  position: relative;
  width: auto;
  margin-top: 7px;
}

.nf h1 {
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "audiowide";
}

.logo {
  width: 100px;
  height: 60px;
  cursor: pointer;
  padding-left: 10px;
}

.nav_links {
  position: relative;
  display: flex;
  justify-content: space-around;
  list-style: none;
  transition: transform 0.4s;
}

.nav_links li {
  position: relative;
  margin-top: 15px;
  display: inline-block;
  transition: transform 0.4s;
}

.nav_links li a {
  transition: color 0.3s;
  transition: transform 0.4s;
}

.nav_links li a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: rgb(255, 100, 100);
  text-decoration: none;
}

li:nth-child(2) {
  /*text-decoration: underline rgb(255, 100, 100) 3px;*/
  border-bottom: 3px rgb(255, 100, 100) solid;
}

.text {
  width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
  margin-top: 60px;
}

.text p {
  position: relative;
  font-size: 100px;
  font-weight: 400;
  font-family: "audiowide";
  color: white;
}

.block {
  position: relative;
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  height: 600px;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
}

.gif {
  position: relative;
  height: auto;
  width: 70%;
  margin: auto;
  display: flex;
}

.gif img {
  height: auto;
  width: 70%;
  border: 2px solid white;
  margin: auto;
}

.info {
  position: relative;
  margin: auto;
  height: auto;
  width: 50%;
}

.info p {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto Mono";
  color: white;
  margin: auto;
  width: 70%;
  text-align: center;
}

.info h1 {
  font-size: 40px;
  font-weight: 400;
  font-family: "audiowide";
  color: rgb(255, 100, 100);
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .info p {
    font-size: 10px;
    width: 100%;
  }
  .text p {
    font-size: 70px;
  }
  .info h1 {
    font-size: 20px;
  }

  .info {
    margin-top: 0px;
  }

  .gif img {
    height: 100%;
    width: 100%;
  }

  .block {
    display: flex;
    width: 90%;
    flex-direction: column;
    margin-top: 100px;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  .allbuts {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
  }

  li {
    font-size: 13px;
  }

  .nf h1 {
    font-size: 30px;
  }

  .info {
    width: 85%;
  }

  .text {
    margin-top: 80px;
  }
}

::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 100, 100, 1);
}

body::-webkit-scrollbar-thumb:hover {
  background: gray;
}
