body {
  margin: 0;
  padding: 0;
  background: black;
  overflow-x: hidden;
  overflow-y: auto;
}
.cont {
  width: 100%;
  height: 100%;
  position: relative;
}

.bgn {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.4;
  pointer-events: none;
}

.logo_text {
  width: 100%;
  height: 100px;
  position: relative;
}

.logo {
  width: 90px;
  height: 75px;
  position: absolute;
  padding-top: 15px;
}

.nf {
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "audiowide";
  position: absolute;
  padding-left: 85px;
  padding-top: 35px;
}

.exhead {
  position: relative;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

.exhead h1 {
  font-size: 80px;
  font-weight: 400;
  font-family: "audiowide";
  color: white;
  text-align: center;
  padding-right: 50px;
}

.introtext {
  width: 75%;
  height: auto;
  position: relative;
  font-size: 22px;
  font-family: "Roboto Mono";
  font-weight: 300;
  align-items: center;
  text-align: center;
  margin: auto;
  color: white;
  margin-top: 150px;
  margin-bottom: 50px;
}

.bpartsimg1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 30px;
}

.bpartsimg1 img {
  border: 3px solid rgb(255, 80, 80);
  box-shadow: 5px white;
  border-radius: 2%;
  opacity: 1;
  position: relative;
  opacity: 1;
  height: 300px;
  width: 320px;
  margin: auto;
  margin-top: 0px;
  filter: contrast(1);
  transition: opacity 0.4s;
}

.bpartsimg1 img:hover {
  opacity: 0.7;
}

.bpartsimg2 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 30px;
}

.bpartsimg2 img {
  border: 2px solid white;
  border-radius: 2%;
  opacity: 1;
  position: relative;
  opacity: 1;
  height: 300px;
  width: 300px;
  margin: auto;
  transition: opacity 0.4s;
}

.bpartsimg2 img:hover {
  opacity: 0.7;
}

.link_text {
  margin: auto;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin-top: 120px;
}

.textaboveimg {
  position: relative;
  font-family: "audiowide";
  font-size: 35px;
  font-weight: 400;
  color: rgb(255, 80, 80);
  margin: auto;
  margin-left: 270px;
}

a {
  display: block;
  margin: auto;
  position: auto;
}
