body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

.conta {
  width: 100%;
  height: 100%;
  position: relative;
}

.bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.3;
  pointer-events: none;
}

li,
button {
  position: relative;
  font-family: "audiowide";
  font-weight: 400;
  font-size: 21px;
  color: white;
  text-decoration: none;
}

header a {
  color: white;
}

header {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.logotext {
  display: flex;
}

.nf {
  position: relative;
  width: auto;
  margin-top: 7px;
}

.nf h1 {
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "audiowide";
}

.logo {
  width: 100px;
  height: 60px;
  cursor: pointer;
  padding-left: 10px;
}

.nav_links {
  position: relative;
  display: flex;
  justify-content: space-around;
  list-style: none;
  transition: transform 0.4s;
}

.nav_links li {
  position: relative;
  margin-top: 15px;
  display: inline-block;
  padding: 5px 50px;
  transition: transform 0.4s;
}

.nav_links li a {
  transition: color 0.3s;
  transition: transform 0.4s;
}

.nav_links li a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: rgb(255, 100, 100);
  text-decoration: none;
}

li:nth-child(1) {
  /*text-decoration: underline rgb(255, 100, 100) 3px;*/
  border-bottom: 3px rgb(255, 100, 100) solid;
}

.allbuts {
  height: auto;
  width: auto;
  display: flex;
  align-items: top;
}

header button {
  padding: 15px 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 4px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: black;
  transition: transform 0.5s;
}

button:hover {
  background-color: rgb(255, 100, 100);
  outline-color: black;
  color: black;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.para {
  width: 83%;
  height: 400px;
  position: relative;
  font-size: 23px;
  font-family: "Roboto Mono";
  font-weight: 300;
  align-items: center;
  text-align: center;
  margin: auto;
  color: white;
  margin-top: 150px;
  margin-bottom: 80px;
  letter-spacing: 1.1px;
}

.imgtext {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
}

.bpartsimg1 {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgtext img {
  opacity: 1;
  position: relative;
  height: 100%;
  width: 100%;
  transition: opacity 0.4s;
  transition: transform 0.4s;
  margin-top: 10%;
  margin-bottom: 10%;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.link_text {
  margin: auto;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin-top: 120px;
}

.textaboveimg {
  position: relative;
  font-family: "audiowide";
  font-size: 50px;
  font-weight: 400;
  color: rgb(255, 100, 100);
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.imgtext img:hover {
  /*background: rgba(255, 100, 100, 1);*/
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.infotext {
  width: 60%;
  height: auto;
  position: relative;
  font-size: 22px;
  font-family: "Roboto Mono";
  font-weight: 300;
  align-items: center;
  text-align: center;
  margin: auto;
  color: white;
  letter-spacing: 1.1px;
}

@media screen and (max-width: 1100px) {
  .bpartsimg1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textaboveimg {
    font-size: 30px;
    font-weight: 400;
  }
  .head {
    display: flex;
    flex-direction: column;
  }
  .nav_links {
    display: flex;
    justify-content: space-around;
  }
  .imgtext {
    margin-top: 100px;
  }
  .para {
    font-size: 13px;
    position: relative;
    width: 90%;
  }
  .nav_links li {
    position: relative;
    padding: 10px;
  }
  .li,
  a {
    font-family: "audiowide";
    font-weight: 400;
    font-size: 10px;
    color: white;
    text-decoration: none;
  }
  button {
    padding: 7px 10px;
    font-size: 15px;
    margin-top: 25px;
  }

  .infotext {
    font-size: 12px;
    width: 95%;
  }

  .allbuts {
    display: flex;
    justify-content: space-around;
  }
}

span {
  position: relative;
  background: white;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}

@keyframes animate {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }

  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 100, 100, 1);
}

body::-webkit-scrollbar-thumb:hover {
  background: gray;
}
