body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

.conta {
  width: 100%;
  height: 100%;
  position: relative;
}

.bggg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.35;
  pointer-events: none;
}

li,
button {
  position: relative;
  font-family: "audiowide";
  font-weight: 400;
  font-size: 21px;
  color: white;
  text-decoration: none;
}

header a {
  color: white;
}

header {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.logotext {
  display: flex;
}

.nf {
  position: relative;
  width: auto;
  margin-top: 7px;
}

.nf h1 {
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "audiowide";
}

.logo {
  width: 100px;
  height: 60px;
  cursor: pointer;
  padding-left: 10px;
}

.nav_links {
  position: relative;
  display: flex;
  justify-content: space-around;
  list-style: none;
  transition: transform 0.4s;
}

.nav_links li {
  position: relative;
  margin-top: 15px;
  display: inline-block;
  padding: 5px 50px;
  transition: transform 0.4s;
}

.nav_links li a {
  transition: color 0.3s;
  transition: transform 0.4s;
}

.nav_links li a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: rgb(255, 100, 100);
  text-decoration: none;
}

li:nth-child(1) {
  /*text-decoration: underline rgb(255, 100, 100) 3px;*/
  border-bottom: 3px rgb(255, 100, 100) solid;
}

.allbuts {
  height: auto;
  width: auto;
  display: flex;
  align-items: top;
}

header button {
  padding: 15px 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 4px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: black;
  transition: transform 0.5s;
}

header button:hover {
  background-color: rgb(255, 100, 100);
  outline-color: black;
  color: black;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.para {
  width: 83%;
  height: 400px;
  position: relative;
  font-size: 23px;
  font-family: "Roboto Mono";
  font-weight: 300;
  align-items: center;
  text-align: center;
  margin: auto;
  color: white;
  margin-top: 150px;
  margin-bottom: 20px;
  letter-spacing: 1.1px;
}

.imgtext {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.bpartsimg1 {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imgtext img {
  opacity: 1;
  position: relative;
  height: 100%;
  width: 100%;
  transition: opacity 0.4s;
  transition: transform 0.4s;
  margin-top: 4%;
  margin-bottom: 4%;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.link_text {
  margin: auto;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin-top: 120px;
}

.textaboveimg {
  position: relative;
  font-family: "audiowide";
  font-size: 60px;
  font-weight: 400;
  color: rgb(255, 100, 100);
  margin: auto;
  text-align: center;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.imgtext img:hover {
  /*background: rgba(255, 100, 100, 1);*/
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.infotext {
  width: 60%;
  height: auto;
  position: relative;
  font-size: 22px;
  font-family: "Roboto Mono";
  font-weight: 300;
  align-items: center;
  text-align: center;
  margin: auto;
  color: white;
  letter-spacing: 1.1px;
}

.redtext {
  color: rgb(255, 100, 100);
  font-size: 27px;
  font-weight: 400;
}

.footer {
  width: 100%;
  position: relative;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos {
  width: 100%;
  position: relative;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
}

.copyright {
  width: 97%;
  position: relative;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid rgba(255, 255, 255, 0.3) 1px;
}

.add {
  color: white;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logoimgs {
  display: flex;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logolinks {
  border: 1px solid white;
  margin: 10px;
  border-radius: 5px;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  transition: transform 0.25s;
}

.fab {
  color: white;
  font-size: 20px;
  margin: 10px;
}

.fab:hover {
  color: rgb(255, 100, 100);
  text-decoration: none;
}

.fas {
  color: rgb(255, 100, 100);
}

.imgtext {
  background-color: rgba(0, 0, 0, 0.3);
  width: 90%;
  padding: 5%;
}

.logolinks:hover {
  text-decoration: none;
  border-color: rgb(255, 100, 100);
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
  box-shadow: rgba(255, 100, 100, 0.35) 0px 5px 15px;
  color: rgb(255, 100, 100);
}

.bmimain {
  position: relative;
  height: 700px;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bmiimg {
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(255, 255, 255, 0.56) 0px 19px 38px,
    rgba(0, 0, 0, 0.3) 0px 15px 12px;
}

.calci {
  height: 100%;
  position: relative;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bmiheading {
  font-size: 50px;
  font-weight: 400;
  color: rgb(255, 100, 100);
  position: relative;
  font-family: "audiowide";
}

.bmitext {
  margin: 20px;
  font-size: 25px;
  font-weight: 400;
  color: white;
  position: relative;
  font-family: "Roboto mono";
}

.bmiinput {
  background-color: transparent;
  color: white;
  border: 0px solid white;
  border-bottom: solid 0.5px white;
  font-family: "Roboto mono";
  font-size: 20px;
  text-align: center;
  padding-bottom: 5px;
  width: 50%;
  margin-bottom: 40px;
  transition: border-bottom 0.2s;
}
.bmiinput:focus {
  border-bottom: rgb(255, 100, 100) 0.5px solid;
  background-color: rgba(255, 100, 100, 0.05);
}

.bmibut {
  margin: 30px;
  margin-bottom: 15px;
  height: 75px;
  width: 200px;
  background-color: rgb(255, 100, 100);
  color: black;
  border: 2px black solid;
  border-radius: 10px;
  transition: background-color 0.1s;
}

.bmibut:hover {
  color: black;
  background-color: white;
}

.bmibut:focus {
  outline: none;
}

textarea:focus,
input:focus {
  outline: none;
}

@media screen and (max-width: 1100px) {
  .bpartsimg1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .textaboveimg {
    font-size: 30px;
    font-weight: 400;
  }
  .head {
    display: flex;
    flex-direction: column;
  }
  .nav_links {
    display: flex;
    justify-content: space-around;
  }
  .imgtext {
    position: relative;
    margin: 50px;
  }
  .para {
    font-size: 13px;
    position: relative;
    margin-top: 100px;
    width: 90%;
    margin-bottom: 50px;
  }
  .nav_links {
    padding: 0px;
  }
  .nav_links li {
    position: relative;
    padding: 10px;
  }
  .li,
  a {
    font-family: "audiowide";
    font-weight: 400;
    font-size: 13px;
    color: white;
    text-decoration: none;
  }
  button {
    padding: 7px 10px;
    font-size: 15px;
    margin-top: 25px;
  }

  .infotext {
    font-size: 12px;
    width: 95%;
  }

  .allbuts {
    display: flex;
    justify-content: center;
  }

  .fab {
    font-size: 10px;
  }
  .logolinks {
    height: 25px;
    width: 25px;
  }

  .add p {
    font-size: 10px;
  }
  .logos {
    flex-direction: column;
  }

  .redtext {
    font-size: 13px;
  }

  .bggg {
    top: 0;
    left: 0;
    width: auto;
    height: auto;
  }

  header button {
    padding: 7px 10px;
  }

  .cta {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bmimain {
    flex-direction: column;
  }
  .calci {
    width: 90%;
    margin: 30px;
  }
  .bmiimg {
    height: 50%;
    width: 50%;
  }
  .calci p {
    font-size: 20px;
  }
}

::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  background: white;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 100, 100, 1);
}

body::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.imggg:nth-child(2) {
  margin: 200px;
}
