.main {
  height: 100vh;
}

.content {
  position: absolute;
  top: 30%;
  left: 60%;
}

.logo_text {
  padding-top: 15px;
  padding-left: 10px;
  display: flex;
  justify-content: left;
  align-items: left;
}
.logo {
  width: 90px;
  height: 70px;
}
.logo img {
  width: 95%;
  height: 82%;
}

.logo_text h1 {
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: rgb(194, 192, 192);
  font-family: "audiowide";
}

.eximg {
  height: 500px;
  width: 500px;
  object-fit: fill;
  justify-content: left;
  align-items: left;
}

.eximg img {
  width: 100%;
  height: 100%;
}

.bgimg img {
  background-image: -moz-linear-gradient();
}
