body {
  margin: 0;

  background: black;
}

.cont {
  width: auto;
  height: auto;
  position: relative;
}

.bg {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.25;
  pointer-events: none;
}

.logo_text {
  display: flex;
  width: 100%;
  height: 100px;
  position: relative;
}

.logo {
  width: 90px;
  height: 75px;
  position: relative;
  padding-top: 15px;
}

.nf {
  padding-top: 35px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "audiowide";
  position: relative;
}

.img_text {
  margin-top: 9%;
  height: auto;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.images {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.fa-solid {
  font-size: 70px;
  color: rgb(255, 100, 100);
  padding: 10px;
}

.fa-solid:nth-child(1) {
  position: absolute;
  animation: float1 30s linear infinite;
}
.fa-solid:nth-child(2) {
  position: absolute;
  animation: float2 30s linear infinite;
}
.fa-solid:nth-child(3) {
  position: absolute;
  animation: float3 30s linear infinite;
}
.fa-solid:nth-child(4) {
  position: absolute;
  animation: float4 30s linear infinite;
}
.fa-solid:nth-child(5) {
  position: absolute;
  animation: float5 30s linear infinite;
}
.fa-solid:nth-child(6) {
  position: absolute;
  animation: float6 30s infinite linear;
}
.fa-solid:nth-child(7) {
  position: absolute;
  animation: float7 30s infinite linear;
}
.fa-solid:nth-child(8) {
  position: absolute;
  animation: float8 30s infinite linear;
}
.fa-solid:nth-child(9) {
  position: absolute;
  font-size: 200px;
  background-color: transparent;
  border: 0px;
}

@keyframes float1 {
  from {
    transform: rotate(0deg) translatex(250px) translatey(0px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(250px) translatey(0px) rotate(-360deg);
  }
}
@keyframes float2 {
  from {
    transform: rotate(0deg) translatex(0px) translatey(250px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(0px) translatey(250px) rotate(-360deg);
  }
}
@keyframes float3 {
  from {
    transform: rotate(0deg) translatex(-250px) translatey(0px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(-250px) translatey(0px) rotate(-360deg);
  }
}
@keyframes float4 {
  from {
    transform: rotate(0deg) translatex(176px) translatey(176px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(176px) translatey(176px)
      rotate(-360deg);
  }
}
@keyframes float5 {
  from {
    transform: rotate(0deg) translatex(176px) translatey(-176px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(176px) translatey(-176px)
      rotate(-360deg);
  }
}
@keyframes float6 {
  from {
    transform: rotate(0deg) translatex(-176px) translatey(-176px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(-176px) translatey(-176px)
      rotate(-360deg);
  }
}
@keyframes float7 {
  from {
    transform: rotate(0deg) translatex(-176px) translatey(176px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(-176px) translatey(176px)
      rotate(-360deg);
  }
}
@keyframes float8 {
  from {
    transform: rotate(0deg) translatex(0px) translatey(-250px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translatex(0px) translatey(-250px) rotate(-360deg);
  }
}

/*
@keyframes float1 {
  from {
    transform: rotate(0deg) translateX(150px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(150px) rotate(-360deg);
  }
}

@keyframes float2 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(+50px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float3 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatex(-50px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float4 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-50px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float5 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatex(+50px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes float6 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatex(+50px);
  }
  100% {
    transform: translatey(0px);
  }
}
*/
.text {
  margin: auto;
  margin-top: 3%;
  position: relative;
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 80%;
  height: 100%;
}

.text p {
  font-family: "Roboto Mono";
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 40px;
  align-items: center;
  width: 90%;
  color: white;
}

.btn {
  height: 70px;
  width: 220px;
  background-color: none;
  border: 2px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 4 00;
  font-family: "Roboto Mono";
  transition: transform 0.6s;
  border-radius: 10px;
}

.btn:hover {
  color: black;
  background-color: white;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  font-weight: 400;
}

.eximg:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

@media only screen and (max-width: 1200px) {
  .img_text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .eximg {
    margin: 0;
    height: 50%;
    width: 50%;
  }
  .text {
    font-size: 16px;
    margin-top: 50px;
    align-items: center;
    text-align: center;
  }
  .images {
    opacity: 0.5;
    position: absolute;
  }
}

.redtext {
  color: rgb(255, 100, 100);
  font-size: 27px;
  font-weight: 400;
}
