body {
  margin: 0;

  background: black;
}

.cont {
  width: auto;
  height: auto;
  position: relative;
}

.bg {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.25;
  pointer-events: none;
}

.logo_text {
  display: flex;
  width: 100%;
  height: 100px;
  position: relative;
}

.logo {
  width: 90px;
  height: 75px;
  position: relative;
  padding-top: 15px;
}

.nf {
  padding-top: 35px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "audiowide";
  position: relative;
}

.img_text {
  margin-top: 50px;
  margin-right: 50px;
  height: auto;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-around;
}

.eximg {
  position: relative;
  margin: 100px 0px 100px 100px;
  height: 479px;
  width: 600px;
  transition: transform 1s;
}

.text {
  margin: auto;
  position: relative;
  font-weight: 300;
  font-size: 22px;
  color: white;
  font-family: "Roboto Mono";
  text-align: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.text p {
  margin-bottom: 40px;
  align-items: center;
  width: 90%;
}

.btn {
  height: 70px;
  width: 220px;
  background-color: none;
  border: 2px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  font-weight: 4 00;
  font-family: "Roboto Mono";
  transition: transform 0.6s;
}

.btn:hover {
  color: black;
  background-color: white;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  font-weight: 400;
}

.eximg:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

@media only screen and (max-width: 700px) {
}
