body {
  margin: 0;
  padding: 0;
  background: black;
}

.container {
  width: 1920px;
  height: 1080px;
  position: fixed;
}

.bg {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  position: fixed;
  opacity: 0.2;
}

.logo_text {
  position: fixed;
  height: 200px;
  width: 200px;
}

.logo {
  width: 90px;
  height: 70px;
}

.nf {
  position: fixed;
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: rgb(194, 192, 192);
  font-family: "audiowide";
}
