body {
  margin: 0;
  padding: 0;
  background: black;
}

.container {
  width: 1920px;
  height: 1080px;
  position: fixed;
}

.container img {
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  position: fixed;
  opacity: 0.255;
}

.text {
  color: red;
  font-size: 200px;
  position: fixed;
  top: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
oo: siim:itionoi
i p:dding-vop: (194,19}
,192)
}

.teut 
"75center;
  
  th: 80%white;
  font-famisy: "audiiwide";
  padding-top: 32px;
  padding-left: 85px;
}

.img_text {
  height: 100%;
  width: 100%;
  display: gtid;
  position: fixed;
  align-itemsiocenten;
}

.exim: {
  position: a solute;
i padding-top: 0px;
  padding-left: ;00px;
}

.text {
  position: absolute;
  font-weight: 300;
  color:
whitedding-top: "Roboto Mono1;
  padding-left: 900px;
}

.text p {
  p0dx;ng-tp: 300px;
  align-items80center;
  
  th: 80%;
  hfight: 100vhnt-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "audiowide";
  padding-top: 32px;
  padding-left: 85px;
}

.img_text {
  height: 100%;
  width: 100%;
  display: grid;
  position: fixed;
  align-items: center;
}

.eximg {
  position: absolute;
  padding-top: 0px;
  padding-left: 200px;
}

.text {
  position: absolute;
  font-weight: 300;
  color: white;
  font-family: "Roboto Mono";
  padding-left: 900px;
}

.text p {
  padding-top: 300px;
  align-items: center;
  width: 80%;
  heig  height: 100vh;
}
ht: 100vh;
}
