@import url("https://fonts.googleapis.com/css?family=Numans");
body {
  margin: 0;
  padding: 0;
  background: black;
}

.container {
  width: 1920px;
  height: 1080px;
  position: fixed;
  align-content: center;
  display: flex;
}

.bg {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.2;
  pointer-events: none;
}

.card {
  height: 350px;
  margin-top: 300px;
  margin-bottom: 200px;
  margin-left: 750px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-header h3 {
  color: white;
  padding-top: 20px;
  text-align: center;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ff3e12;
  color: black;
  border: 0;
  margin-top: 15px;
}

.form-control {
  margin-top: 15px;
}

input:focus {
  outline: 0 0 0 0;
  box-shadow: 0 0 0 0;
}

.login_btn {
  color: black;
  background-color: #ffc312;
  width: 100px;
  margin-right: 110px;
  margin-top: 20px;
}

.login_btn:hover {
  color: black;
  background-color: white;
}

.links {
  color: white;
}

.links a {
  margin-left: 4px;
}
