body {
  margin: 0;
  padding: 0;
  background: black;
  overflow-x: hidden;
  overflow-y: auto;
}
.cont {
  width: 100%;
  height: 100%;
  position: relative;
}

.bgn {
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  position: fixed;
  opacity: 0.2;
  pointer-events: none;
}

.logo_text {
  width: 100%;
  height: 100px;
  position: relative;
  display: flex;
}

.logo {
  width: 90px;
  height: 75px;
  position: relative;
  padding-top: 15px;
}

.nf {
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "audiowide";
  position: absolute;
  padding-left: 85px;
  padding-top: 35px;
}

.content h1 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 40px;
  color: white;
  letter-spacing: 0.3rem;
  margin: 50x100px 100px;
}

.block1 p {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  color: white;
  text-align: left;
  margin: auto;
  margin-left: 40px;
}

.brea {
  position: relative;
  width: 550px;
  height: 400px;
  align-items: right;
  margin: auto;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 30px;
}

.block1 {
  margin-top: 50px;
  display: flex;
}

.block2 p {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  color: white;
}

.brea1 {
  position: relative;
  width: 500px;
  height: 555px;
  align-items: left;
  margin-right: 30px;
  margin-left: 40px;
  margin-bottom: 50px;
}

.block2 {
  margin-right: 20px;
  padding-top: 50px;
  display: flex;
}

.block3 p {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  color: white;
  text-align: left;
  margin: auto;
  margin-left: 40px;
}

.brea2 {
  position: relative;
  width: 550px;
  height: 400px;
  align-items: right;
  margin: auto;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 30px;
}

.block3 {
  display: flex;
}

.block3 p {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  color: white;
  text-align: top;
  margin: auto;
  margin-left: 40px;
}

.brea2 {
  position: relative;
  width: 550px;
  height: 400px;
  align-items: right;
  margin: auto;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 30px;
}

.block3 {
  display: flex;
}

.block3 p {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  color: white;
  text-align: top;
  margin: auto;
  margin-left: 40px;
}

.brea2 {
  position: relative;
  width: 550px;
  height: 400px;
  align-items: right;
  margin: auto;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 30px;
}

.block3 {
  display: flex;
}

.block3 p {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  color: white;
  text-align: left;
  margin: auto;
  margin-left: 40px;
}

.brea2 {
  position: relative;
  width: 550px;
  height: 400px;
  align-items: right;
  margin: auto;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 30px;
}

.block3 {
  display: flex;
  align-items: top;
}

.block3 p {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  color: white;
  text-align: left;
  margin: auto;
  margin-left: 40px;
}

.brea2 {
  position: relative;
  width: 550px;
  height: 400px;
  align-items: right;
  margin: auto;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 30px;
}

.block3 {
  display: flex;
}

.block3 p {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  color: white;
  text-align: left;
  margin: auto;
  margin-left: 40px;
}

.brea2 {
  position: relative;
  width: 550px;
  height: 400px;
  align-items: right;
  margin: auto;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 30px;
}

.block3 {
  display: flex;
}

.block3 p {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  color: white;
  text-align: left;
  margin: auto;
  margin-left: 40px;
}

.brea2 {
  position: relative;
  width: 550px;
  height: 400px;
  align-items: right;
  margin: auto;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 30px ;
}

.block3 {
  display: flex;
}
