body {
  margin: 0;
  padding: 0;
  background: black;
  overflow-x: hidden;
  overflow-y: auto;
}
.conta {
  width: 100%;
  height: 100%;
  position: absolute;
}

.bgn {
  top: 0;
  left: 0;
  width: 100%;
  height: 135%;
  position: fixed;
  opacity: 0.2;
  pointer-events: none;
}

.logo_text {
  width: 100%;
  height: 200px;
  position: fixed;
}

.logo {
  width: 90px;
  height: 75px;
  position: fixed;
  padding-top: 15px;
}
.nf {
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "audiowide";
  position: fixed;
  padding-left: 85px;
  padding-top: 35px;
}

.text h1 {
  font-family: "Amatic SC", cursive;
  margin-top: 120px;
  margin-left: 230px;
  font-size: 75px;
  color: white;
  text-align: center;
  letter-spacing: 0.5rem;
  color: white;
  position: absolute;
}

