body {
  margin: 0;
  padding: 0;
  background: black;
  overflow-x: hidden;
  overflow-y: auto;
}
.conta {
  width: 100%;
  height: 100%;
  position: absolute;
}

.bgn {
  top: 0;
  left: 0;
  width: 100%;
  height: 135%;
  position: fixed;
  opacity: 0.2;
  pointer-events: none;
}

.logo_text {
  width: 100%;
  height: 200px;
  position: fixed;
}

.logo {
  width: 90px;
  height: 75px;
  position: fixed;
  padding-top: 15px;
}
.nf {
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "audiowide";
  position: fixed;
  padding-left: 85px;
  padding-top: 35px;
}

.text h1 {
  font-family: "Amatic SC", cursive;
  padding-left: 500px;
  padding-top: 25px;
  font-size: 85px;
  color: white;
  letter-spacing: 0.5rem;
  color: #095256;
  position: absolute;
}

.card {
  height: 900px;
  background-color: transparent;
  border-color: white;
  margin-left: 500px;
  margin-top: 200px;
  margin-bottom: 75px;
  width: 850px;
}

.card h3 {
  font-family: "Amatic SC", cursive;
  font-size: 42px;
  color: white;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  margin-bottom: 60px;
}

.user_name {
  display: flex;
  align-items: center;
  text-align: center;
  height: 90px;
}

.user_name p {
  font-family: "Amatic SC", cursive;
  color: white;
  font-size: 40px;
}

.user_namei {
  position: relative;
  display: flex;
  margin: auto;
  width: 50%;
}

.user_namet {
  width: 50%;
  position: relative;
  margin: auto;
  align-items: center;
  text-align: center;
}

input {
  width: 70%;
  height: 60px;
}
