* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
}

.cont {
  width: 100%;
  height: 100%;
  position: absolute;
}

.bgn {
  top: 0;
  left: 0;
  width: 100%;
  height: 125%;
  position: fixed;
  opacity: 0.3;
  pointer-events: none;
}

/* .main {
  width: 1920px;
  height: 1080px;
  position: fixed;
} */
