body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: black;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cont {
  width: auto;
  height: auto;
  position: relative;
}

.bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.5;
  pointer-events: none;
}

button,
li {
  position: relative;
  font-family: "audiowide";
  font-weight: 400;
  font-size: 21px;
  color: white;
  text-decoration: none;
}

header {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.allbuts a {
  text-decoration: none;
  color: white;
}

.logotext {
  display: flex;
}

.nf {
  position: relative;
  width: auto;
  margin-top: 7px;
}

.nf h1 {
  padding-top: 10px;
  font-weight: 300;
  letter-spacing: 0.1rem;
  color: white;
  font-family: "audiowide";
}

.logo {
  width: 100px;
  height: 60px;
  cursor: pointer;
  padding-left: 10px;
}

.nav_links {
  position: relative;
  display: flex;
  justify-content: space-around;
  list-style: none;
  transition: transform 0.4s;
}

.nav_links li {
  position: relative;
  margin-top: 15px;
  display: inline-block;
  padding: 5px 50px;
  transition: transform 0.4s;
}

.nav_links li a {
  transition: color 0.3s;
  transition: transform 0.4s;
}

.nav_links li a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: rgb(255, 100, 100);
  text-decoration: none;
}

.text {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.text h1 {
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 85px;
  color: white;
  margin-top: 50px;
  letter-spacing: 0.5rem;
  color: rgb(255, 100, 100);
}

.text p {
  text-align: center;
  position: relative;
  font-weight: 390;
  font-size: 35px;
  color: white;
  width: 90%;
  font-family: "Amatic SC", cursive;
  margin-top: 100px;
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
  margin: auto;
}

.con {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items img {
  margin: 2px;
}

.items p {
  position: relative;
  width: 70%;
  margin-top: 20px;
  font-weight: 390;
  font-size: 35px;
  color: white;
  font-family: "Amatic SC", cursive;
  letter-spacing: 0.1rem;
  line-height: 2.4rem;
  text-align: center;
}

.items button {
  width: 150px;
  height: 50px;
  border: white solid 1px;
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  position: relative;
  align-items: center;
  color: white;
}

.items button:hover {
  color: black;
  background-color: white;
}

@media screen and (max-width: 1100px) {
  .con {
    display: flex;
    flex-direction: column;
  }

  .items {
    margin: auto;
    margin-bottom: 100px;
  }

  .items p {
    font-size: 20px;
  }

  .items img {
    width: 80%;
    height: 80%;
  }

  .text p {
    font-size: 20px;
    width: 97%;
  }

  .text h1 {
    font-size: 40px;
  }
}
